<h1>FreeWord Setting</h1>
気になる単語を入力してください。（最大5つ）<br>
<textarea></textarea><br>
<textarea></textarea><br>
<textarea></textarea><br>
<textarea></textarea><br>
<textarea></textarea><br>

<button type="skip_button">
    skip
</button>

<button type="next_button">
    next
</button>