<!DOCTYPE html>
<html>
  <head>
    <title>SnsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class = title>
        <h2>title</h2>
      </div>

      <div class = "free_search">
        <textarea name = "word">ワード検索欄</textarea>
      </div>

        <ul class = header_menu>
          <li>新規登録</li>
          <li>ログイン</li>

          <%
=begin%>
 以下はログイン時のメニュー表示
          <li>マイページ</li>
          <li>投稿</li>
          <li>ログアウト</li> 
<%
=end%>

        </ul>


    </header>

    <%= yield %>

    <footer>
    </footer>

  </body>
</html>
